section.footer
	.container
		.row.align-items-center
			.col-md-4
				.ion.ion-social-facebook
				.ion.ion-social-twitter
				.ion.ion-social-instagram
				.ion.ion-social-pinterest

			.col-md-4
				p &copy; 2017, Home Renovation. All Rights Reserved
			.col-md-4
				img(src="./assets/logo.svg")

//- Javascript
script(src="vendor/jquery.js")
script(src="vendor/bootstrap.js")
script(src="vendor/wow.js")
script(src="js/scripts.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBK5bt7uP_vjh0yir3mJ2TX5tjEi1JDnAw&callback=initMap" async defer)