html
	head
		include /_includes/_header
	body
		include /_includes/_navigation

		//- Banner
		#banner.carousel.slide(data-ride='carousel')
			ol.carousel-indicators
				li.active(data-target='#banner', data-slide-to='0')
				li(data-target='#banner', data-slide-to='1')
				li(data-target='#banner', data-slide-to='2')
			.carousel-inner(role='listbox')
				.carousel-item.active
					.carousel--image(style="background-image: url('assets/test-bg.jpg');")
					.carousel-caption.d-none.d-md-block
						h1 HOME RENOVATIONS
						hr
						.carousel--subhead-container
							h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				.carousel-item
					.carousel--image(style="background-image: url('assets/test-bg.jpg');")
					.carousel-caption.d-none.d-md-block
						h1 HOME RENOVATIONS
						hr
						.carousel--subhead-container
							h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				.carousel-item
					.carousel--image(style="background-image: url('assets/test-bg.jpg');")
					.carousel-caption.d-none.d-md-block
						h1 HOME RENOVATIONS
						hr
						.carousel--subhead-container
							h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.


		section#services.section.section--our-services
			.container.container-small
				.row
					.col-md-12
						h3.mb-2 OUR SERVICES
						hr.hr--primary
						p.mb-6 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
		
			.container
				.row
					.col-md-4
						.p-2
							img(src="assets/crane.svg")
							h5 Home Extensions
							p Renovation Contrary to what people might imagine when we talk about bathroom remodeling, it should not have anything to do with

					.col-md-4
						.p-2
							img(src="assets/hammer.svg")
							h5 Home Extensions
							p Renovation Contrary to what people might imagine when we talk about bathroom remodeling, it should not have anything to do with

					.col-md-4
						.p-2
							img(src="assets/door.svg")
							h5 Home Extensions
							p Renovation Contrary to what people might imagine when we talk about bathroom remodeling, it should not have anything to do with

					.col-md-4
						.p-2
							img(src="assets/window.svg")
							h5 Home Extensions
							p Renovation Contrary to what people might imagine when we talk about bathroom remodeling, it should not have anything to do with

					.col-md-4
						.p-2
							img(src="assets/paint-brush.svg")
							h5 Home Extensions
							p Renovation Contrary to what people might imagine when we talk about bathroom remodeling, it should not have anything to do with

					.col-md-4
						.p-2
							img(src="assets/engineer.svg")
							h5 Home Extensions
							p Renovation Contrary to what people might imagine when we talk about bathroom remodeling, it should not have anything to do with

		section#about.section.section--about
			.container
				.row
					.col-md-6
						h2.mb-3 ABOUT US
						hr.hr--primary.hr--left.mb-3
						h3 WE OFFER THE BEST SERVICE IN THE RENOVATION SECTOR!

					.col-md-6
						p Lorem ipsum dolor sit amet, ante tellus libero senectus pharetra. Velit purus metus ac vel purus, eget nulla amet sollicitudin. Suspendisse enim tortor ac fermentum mus lacus, aliquam diam elementum, at vulputate semper consequat odio luctus turpis, curabitur phasellus vestibulum nisl viverra vestibulum tortor, felis elit non commodo pharetra eget felis.

						button.btn READ MORE


		section#projects.section
			.container.container-small.text-center
				.row
					.col-md-12
						h3.mb-2 FEATURED WORK
						hr.hr--primary
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

		section(style="background-image: url('assets/test-bg.jpg'); background-position: center; background-size: cover;")
			.container-fluid.px-0
				.row.no-gutters
					.col-xl-2.col-md-3.col-sm-6
						.work--grid(style="background-image: url('assets/p1.jpg');")
							.work--overlay
							.work--icons-container
								.ion.ion-social-instagram
								.ion.ion-social-pinterest
								.ion.ion-earth
								.ion.ion-android-share-alt
							hr
							h5 BEDROOM
								br
								| RENOVATION
					.col-xl-2.col-md-3.col-sm-6
						.work--grid(style="background-image: url('assets/p2.jpg');")
							.work--overlay
							.work--icons-container
								.ion.ion-social-instagram
								.ion.ion-social-pinterest
								.ion.ion-earth
								.ion.ion-android-share-alt
							hr
							h5 BEDROOM
								br
								| RENOVATION

					.col-xl-2.col-md-3.col-sm-6
						.work--grid(style="background-image: url('assets/p3.jpg');")
							.work--overlay
							.work--icons-container
								.ion.ion-social-instagram
								.ion.ion-social-pinterest
								.ion.ion-earth
								.ion.ion-android-share-alt
							hr
							h5 BEDROOM
								br
								| RENOVATION

					.col-xl-2.col-md-3.col-sm-6
						.work--grid(style="background-image: url('assets/p4.jpg');")
							.work--overlay
							.work--icons-container
								.ion.ion-social-instagram
								.ion.ion-social-pinterest
								.ion.ion-earth
								.ion.ion-android-share-alt
							hr
							h5 BEDROOM
								br
								| RENOVATION

					.col-xl-2.col-md-3.col-sm-6
						.work--grid(style="background-image: url('assets/p5.jpg');")
							.work--overlay
							.work--icons-container
								.ion.ion-social-instagram
								.ion.ion-social-pinterest
								.ion.ion-earth
								.ion.ion-android-share-alt
							hr
							h5 BEDROOM
								br
								| RENOVATION

					.col-xl-2.col-md-3.col-sm-6
						.work--grid(style="background-image: url('assets/p6.jpg');")
							.work--overlay
							.work--icons-container
								.ion.ion-social-instagram
								.ion.ion-social-pinterest
								.ion.ion-earth
								.ion.ion-android-share-alt
							hr
							h5 BEDROOM
								br
								| RENOVATION


					.col-xl-2.col-md-3.col-sm-6.offset-xl-4
						.work--grid(style="background-image: url('assets/p7.jpg');")
							.work--overlay
							.work--icons-container
								.ion.ion-social-instagram
								.ion.ion-social-pinterest
								.ion.ion-earth
								.ion.ion-android-share-alt
							hr
							h5 BEDROOM
								br
								| RENOVATION


					.col-xl-2.col-md-3.col-sm-6
						.work--grid(style="background-image: url('assets/p8.jpg');")
							.work--overlay
							.work--icons-container
								.ion.ion-social-instagram
								.ion.ion-social-pinterest
								.ion.ion-earth
								.ion.ion-android-share-alt
							hr
							h5 BEDROOM
								br
								| RENOVATION


		section.section.section--quote
			.container
				.row.align-items-center
					.col-md-8
						h5 LOOKING FOR A QUALITY AND AFFORDABLE RENOVATION FOR YOUR NEXT PROJECT?
					.col-md-4
						button.btn.inverted REQUEST A QUICK QUOTE


		section.section.text-center
			.container
				.row
					.col-md-12
						h3.mb-2 TESTIMONIALS
						hr.hr--primary
						//- h5 “Lorem ipsum dolor sit amet, id quem causae electram pro, est nonumy moderatius dissentias an. Eu nihil omittam his. Virtute eligendi.”
						//- P - Dale Cooper, Company Manager

			.container-fluid
				.row
					.col-md-12
						#testimonial.carousel.slide(data-ride='carousel')
							ol.carousel-indicators
								li.active(data-target='#testimonial', data-slide-to='0')
								li(data-target='#testimonial', data-slide-to='1')
								li(data-target='#testimonial', data-slide-to='2')
							.carousel-inner(role='listbox')
								.carousel-item.active(style="height:180px;")
									.carousel-caption.d-none.d-md-block.px-2
										h5.mb-2 “Lorem ipsum dolor sit amet, id quem causae electram pro, est nonumy moderatius dissentias an. Eu nihil omittam his. Virtute eligendi.”
										P - Dale Cooper, Company Manager
								.carousel-item(style="height:180px;")
									.carousel-caption.d-none.d-md-block.px-2
										h5.mb-2 “Lorem ipsum dolor sit amet, id quem causae electram pro, est nonumy moderatius dissentias an. Eu nihil omittam his. Virtute eligendi.”
										P - Dale Cooper, Company Manager
								.carousel-item(style="height:180px;")
									.carousel-caption.d-none.d-md-block.px-2
										h5.mb-2 “Lorem ipsum dolor sit amet, id quem causae electram pro, est nonumy moderatius dissentias an. Eu nihil omittam his. Virtute eligendi.”
										P - Dale Cooper, Company Manager



		section#contact.section.section--contact
			.container
				.row
					.col-md-6
						h2.mb-3 CONTACT
						hr.hr--primary.hr--left.mb-3
						p CALL US FREE ON
						h2.color--primary.mb-5 02893 748392
						p 100 LAVANT ROAD, CROYDON,
							br
							| LONDON, CR0 0AJ
							br
							span.color--primary INFO@RENOVATIONS.CO.UK

					.col-md-6
						input.mb-2(type="text" placeholder="Name*")
						input.mb-2(type="text" placeholder="Email*")
						textarea.mb-2(placeholder="Message*" rows="6")

						button.btn.w-100 SEND

		include /_includes/_footer