html
	head
		include /_includes/_header
	body
		include /_includes/_navigation

		//- Banner


		section
			.container
				.row
					.col-md-12
						p OUR SERVICES
						hr
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

				.row
					.col-md-4
						img(src="assets/crane.svg")
						p Home Extensions
						p Renovation Contrary to what people might imagine when we talk about bathroom remodeling, it should not have anything to do with

					.col-md-4
						img(src="assets/crane.svg")
						p Home Extensions
						p Renovation Contrary to what people might imagine when we talk about bathroom remodeling, it should not have anything to do with

					.col-md-4
						img(src="assets/crane.svg")
						p Home Extensions
						p Renovation Contrary to what people might imagine when we talk about bathroom remodeling, it should not have anything to do with

					.col-md-4
						img(src="assets/crane.svg")
						p Home Extensions
						p Renovation Contrary to what people might imagine when we talk about bathroom remodeling, it should not have anything to do with

					.col-md-4
						img(src="assets/crane.svg")
						p Home Extensions
						p Renovation Contrary to what people might imagine when we talk about bathroom remodeling, it should not have anything to do with

					.col-md-4
						img(src="assets/crane.svg")
						p Home Extensions
						p Renovation Contrary to what people might imagine when we talk about bathroom remodeling, it should not have anything to do with

		section
			.container
				.row
					.col-md-6
						p ABOUT US
						hr
						p WE OFFER THE BEST SERVICE IN THE RENOVATION SECTOR!

					.col-md-6
						p Lorem ipsum dolor sit amet, ante tellus libero senectus pharetra. Velit purus metus ac vel purus, eget nulla amet sollicitudin. Suspendisse enim tortor ac fermentum mus lacus, aliquam diam elementum, at vulputate semper consequat odio luctus turpis, curabitur phasellus vestibulum nisl viverra vestibulum tortor, felis elit non commodo pharetra eget felis.

						button.btn READ MORE


		section
			.container
				.row
					.col-md-12
						p FEATURED WORK
						hr
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

			.container-fluid.px-0
				.row.no-gutters
					.col-md-3
						.work--grid
					.col-md-3
						.work--grid
					.col-md-3
						.work--grid
					.col-md-3
						.work--grid
					.col-md-3
						.work--grid
					.col-md-3
						.work--grid
					.col-md-3
						.work--grid
					.col-md-3
						.work--grid

		section
			.container
				.row
					.col-md-8
						p LOOKING FOR A QUALITY AND AFFORDABLE RENOVATION FOR YOUR NEXT PROJECT?
					.col-md-4
						button.btn REQUEST A QUICK QUOTE


		section
			.container
				.row
					.col-md-12
						p TESTIMONIALS
						hr
						p “Lorem ipsum dolor sit amet, id quem causae electram pro, est nonumy moderatius dissentias an. Eu nihil omittam his. Virtute eligendi.”
						P - Dale Cooper, Company Manager


		section
			.container
				.row
					.col-md-6
						p CONTACT
						hr
						p CALL US FREE ON
						p 02893 748392
						p 100 LAVANT ROAD, CROYDON, LONDON, CR0 0AJ
							span INFO@RENOVATIONS.CO.UK

					.col-md-6
						input(type="text" placeholder="Name*")
						input(type="text" placeholder="Email*")
						input(type="text-area" placeholder="Message*")

						button.btn SEND

		include /_includes/_footer