@import "bootstrap";

$color--primary: #FFC107;

$color--text: #2C2C2C;

h1,h2, h3,h4,h5,h6 {
	font-family: 'Lato', sans-serif;
	line-height: normal;
}

p,a {
	font-family: 'Source Sans Pro', sans-serif;
	line-height: normal;
}

h1 {
	font-size: 2.25rem;
	@media (max-width: 768px) {
		line-height: normal !important;
		font-size: 2rem;
	}
}

h2 {
	@media (max-width: 768px) {
		font-size: 1.75rem;
	}
}

h3 {
	@media (max-width: 768px) {
		font-size: 1.5rem;
	}
}

h4 {
	@media (max-width: 768px) {
		font-size: 1.25rem;
	}
}

.btn {
	background-color: $color--primary;
	border: none;
	border-radius: 5px;
	outline: none !important;
	font-family: 'Lato', sans-serif;
	color: #ffffff;
	line-height: normal;
	padding: 8px 42px 12px;
	transition: background-color 0.3s;
	cursor: pointer;

	&:hover {
		background-color: lighten($color--primary,10%);
		animation: pulse 0.3s;
		-webkit-animation: pulse 0.3s;
		-moz-animation: pulse 0.3s;
		-o-animation: pulse 10.3s;
	}
}

//- Navigation
.navbar-nav {
	.nav-item {
		a.nav-link {
			font-weight: bold;
			font-size: 1rem;
			padding: 1.5rem;
		    -webkit-transition: color 0.5s;
		    transition: color 0.5s;

			@media (max-width: 992px) {
				text-align: center;	
			}
		}
	}
}

.navbar-toggler {
	border: none;
	cursor: pointer;
	outline: none !important;
}

.navbar--container {
	position: relative;
	z-index:1;
	background-color: #ffffff;
	// box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.navbar-toggler {
	top: 28px;
}



.work--grid {
	height: 300px;
	background-color: red;
}