@import "bootstrap";

$color--primary: #FFC107;

$color--text: #2C2C2C;
$color--para: #8D8D8D;
$color--grey-light: #BDBDBD;

body {
	color: $color--text;
}
h1,h2, h3,h4,h5,h6 {
	font-family: 'Lato', sans-serif;
	line-height: normal;
}

p,a {
	font-family: 'Source Sans Pro', sans-serif;
	line-height: normal;
	color: $color--para;
}

p {
	font-weight: 300;
	letter-spacing: 0.5;
	line-height: 1.35rem;
}

h1 {
	font-size: 4rem;
	font-weight: 700;
	letter-spacing: 2px;
	@media (max-width: 768px) {
		line-height: normal !important;
		font-size: 2rem;
	}
}

h2 {
	font-size: 3rem;
	font-weight: 700;
	letter-spacing: 3px;
	@media (max-width: 768px) {
		font-size: 1.75rem;
	}
}

h3 {
	@media (max-width: 768px) {
		font-size: 1.5rem;
	}
}

h4 {
	@media (max-width: 768px) {
		font-size: 1.25rem;
	}
}

input, textarea {
	display: block;
	width: 100%;
	border: 1px solid #E0E0E0;
	letter-spacing: 1px;

	@extend .p-1;
	@extend .px-2;
}

.color--primary {
	color: $color--primary !important;
}

.container-small {
    max-width: 100%;
    width: 480px;
}

.hr--primary {
	border: none;
	border-top: 1px solid $color--primary;
	width: 80px;
	margin: 0 auto 16px;

	&.hr--left {
		margin: 0;
	}
}

.btn {
	background-color: $color--primary;
	border: none;
	border-radius: 5px;
	outline: none !important;
	font-family: 'Lato', sans-serif;
	color: #ffffff;
	line-height: normal;
	padding: 8px 42px 12px;
	transition: background-color 0.3s;
	cursor: pointer;

	&.inverted {
		border: solid 3px #ffffff;
		background-color: transparent;
	}

	&:hover {
		background-color: lighten($color--primary,10%);
		animation: pulse 0.3s;
		-webkit-animation: pulse 0.3s;
		-moz-animation: pulse 0.3s;
		-o-animation: pulse 10.3s;
	}
}

//- Navigation
.navbar-nav {
	.nav-item {
		a.nav-link {
			font-weight: bold;
			font-size: 1rem;
			padding: 1.5rem;
		    -webkit-transition: color 0.5s;
		    transition: color 0.5s;

			@media (max-width: 992px) {
				text-align: center;	
			}
		}
	}
}

.navbar-toggler {
	border: none;
	cursor: pointer;
	outline: none !important;
}

.navbar--container {
	position: relative;
	z-index:1;
	background-color: #ffffff;
	// box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.navbar-toggler {
	top: 28px;
}


//- Banner
.carousel {
	position: relative;
}

.carousel--image {
	height: 600px;
	width: 100%;
	background-size: cover;
	background-position: center;
}

.carousel-caption {
    top: 50%;
    transform: translate(0%, -50%);
    bottom: auto;
}

.carousel-indicators li {
	height: 10px;
	background-color: #ffffff;
}

.carousel-indicators .active {
    background-color: $color--primary;
}

.work--grid {
	height: 300px;
	background-color: red;
}


.section {
	position: relative;
	@extend .py-8;

	&.x-pad {
		@extend .py-9;
	}
}

//- Our Services
.section--our-services {
	text-align: center;

	img {
		@extend .mb-4;
		width: 100%;
		height: 100%;
		max-height: 80px;
		max-width: 80px;
	}

	h5 {
		@extend .mb-2;
		font-weight: bold;
		letter-spacing: 0.8px;
	}
}

//- About
.section--about {
	color: #ffffff;
	background-image: url('../assets/test-bg.jpg');
	background-size: cover;
	background-position: center;

	h3 {
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 100;
		letter-spacing: 2px;
		@extend .pr-6;
	}

	p {
		letter-spacing: 1.2px;
		line-height: 1.5rem;
		color: #ffffff;
		font-weight: 300;
		@extend .mb-5;
	}
}

//- Contact
.section--contact {
	color: #ffffff;
	background-image: url('../assets/test-bg.jpg');
	background-size: cover;
	background-position: center;

	h3 {
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 100;
		letter-spacing: 2px;
		@extend .pr-6;
	}

	p {
		font-family: 'Lato', sans-serif;
		letter-spacing: 1;
		line-height: 1.5rem;
		color: #ffffff;
		font-weight: 400;
	}
}


//- Quote
.section--quote {
	@media (max-width: 768px) {
		text-align: center;
	}
	background-color: $color--primary;
	padding: 48px 0px !important;

	h5 {
		margin-bottom: 0px;
		letter-spacing: 1.5;
		line-height: 28px;
		color: #ffffff;
		padding-right: 64px;
		@media (max-width: 768px) {
			padding-right: 0px;
			margin-bottom: 32px;
		}
	}
}

//- Testimonial
#testimonial {
	h5 {
		color: $color--text !important;
	}

	.carousel-caption {
	    top: 0px;
	    transform: none;
	    bottom: auto;
	}

	.carousel-indicators li {
		background-color: #f5f5f5;
	}


	.carousel-indicators .active {
	    background-color: $color--primary;
	}
}

.footer {

	@media (max-width: 768px) {
		> * {
			text-align: center !important;
		} 
	}


	.ion {
		font-size: 24px;
		color: $color--grey-light;

		@extend .px-1;
		@extend .my-4;


		&:hover {
			animation: pulse 0.3s;
			-webkit-animation: pulse 0.3s;
			-moz-animation: pulse 0.3s;
			-o-animation: pulse 10.3s;
		}
		@media (max-width: 768px) {
			margin-bottom: 16px !important;
		}
	}

	p {
		font-size: 14px;
		margin-bottom: 0px;
		text-align: center;
		@extend .my-4;
		@media (max-width: 768px) {
			margin-top: 16px !important;
			margin-bottom: 16px !important;
		}
	}

	img {
		width: 100px;
		float: right;
		@extend .my-4;
		@media (max-width: 768px) {
			float: none;
			margin-top: 16px !important;
		}
	}
}


